{% extends "board/board.html" %}
{% block title %} Inicio {% endblock %}
{% block content %}
<html>
    <body>
        <h1>Horario de
            <br/>apertura
        </h1>
        <h2>
            De 8:00 a 21:00 horas (L-V)<br />
            De 9:00 a 13:00 horas (S)
        </h2>
        <br /><br />SERVICIOS MEDICOS</h3>
		<p>
				<img src="file:///C:/Users/jafeth/Documents/Django/CentroClinico/CentroClinico/img/centro.jpg">
						<div>
									</ul>
                                        <h2>
											Reanudamos consulta
                                        </h2>
										<p>
										Trabajamos todo tipo de alteraciones del habla con tratamientos individualizados y personalizados, con especial atención a problemas del habla provocados por efectos secundarios del Covid-19 o ictus. Solicita más información en recepción.</p>
										<p>
                                            <a>Más información</a>
                                            </p>
								</li>
                             <u>
										<li>
											<div>TEST COVID-19</div>
										</li>
									</ul>
									<div>								
                                            </a>
                                        <h2>
											Tests post vacuna
                                        </h2>
										<p>
										¿Quiere saber si ha desarrollado anticuerpos tras su vacunación? Con el test serológico de anticuerpos podrá conocer su nivel de protección frente al Covid-19 tras la segunda dosis de la vacuna. Con resultados en 24 / 48 horas.</p>
										<p>
                                            <a>Solicitar cita</a>
                                            </p>
								</li>
							</ul>
                             <ul>
										<li>
											<div>Test rápido</div>
										</li>
									</ul>
                                        <h2>
											Bajamos los precios
                                        </h2>
										<p>
										¿Quieres viajar de forma tranquila? Ven a nuestro centro y conoce en menos de si padeces coronavirus gracias al test rápido de antígenos. Eficacia garantizada por solo. Solicita ya tu cita previa.
                                        </p>
										<p>
                                            <a>Solicitar cita</a>
                                        </p>
								</li>
    </body>
</html>
{% endblock %}