{% extends "board/board.html" %}
{% block title %} Contacto {% endblock %}
{% block content %}
<html>
    <body>
        <ul>
            <li>
                Logofoniatría
            </li>
        </ul>
        <ul>
            <li>
                Test rapido
            </li>
        </ul>
        <ul>
            <li>
                Test COVID 19
            </li>
        </ul>
        <ul>
            <li>
                Consulta telefonica
            </li>
        </ul>
        <p>
            <option>M&Aacute;S SERVICIOS</option>
<option>&nbsp;&nbsp;&nbsp;&nbsp;Coaching nutricional</option>
<option>&nbsp;&nbsp;&nbsp;&nbsp;Intolerancia alimentaria</option>
<option>&nbsp;&nbsp;&nbsp;&nbsp;Metabolic balance</option>
<option>&nbsp;&nbsp;&nbsp;&nbsp;Reflexolog&iacute;a podal</option>
<option>&nbsp;&nbsp;&nbsp;&nbsp;Taller de memoria</option>

        </p>
</body>
</html>
{% endblock %}