<html>
    <head>
        <title>Vista detallada citas</title>
        {% load static %}
        {% load widget_tweaks %}
        {% load bootstrap4 %}
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    </head>
    <body>
        <main role="main">
            <div class="container text-center mt-5">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <h1 style="font-size: 28px;">Citas pendientes</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Lista de Citas</h5>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="card col-md-2">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item active">Citas</li>
                        </ul>
                    </div>
                <div class="col-md-10">

                    <div class="table-responsive">
                    <!-- -->
                        {% if messages %}
                        <ul class="messages list-group mb-3">
                            {% for message in messages %}
                            <li>{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <!-- -->

        <div align ="left" class = "btn_crear mb-3">
            <a href = "crear" type = "button" class="btn btn-primary">Crear</a>
        </div>
        <table class="table table-striped tabla-hover">
            <thead>
                <tr>
                    <th>Nombre del doctor</th>
                    <th>Email</th>
                    <th>Nombre del paciente</th>
                    <th>Email del paciente</th>
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Sintomas</th>
                    <th>Status</th>
                    <th>Preinscripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for Appointment in object_list %}
                <tr>
                    <td> {{Appointment.doctorname}} </td>
                    <td> {{Appointment.doctoremail}} </td>
                    <td> {{Appointment.patientname}} </td>
                    <td> {{Appointment.patientemail}} </td>
                    <td> {{Appointment.appointmentdate}} </td>
                    <td> {{Appointment.appointmenttime}} </td>
                    <td> {{Appointment.symptoms}} </td>
                    <td> {{Appointment.status}} </td>
                    <td> {{Appointment.prescription}} </td>
                    <td>
                        <form method="POST" action="eliminar/{{Appointment.id}}">
                        {% csrf_token %}
                        <div class="btn_group">
                            <a href="detalle/{{Appointment.id}}" title="Ver" type="button" class = "btn btn-sucess">Ver</a>
                            <a href="actualizar/{{Appointment.id}}" title="Actualizar" type="button" class = "btn btn-primary">Actualizar</a>
                            <button class = "btn btn-danger" onclic = "return eliminar();" type="submit">Eliminar</button>
                        </div>
                        </form>
                    </td>
                <!-- -->
            </tr>
                {% endfor %}
            </tbody>
        </table>
    <!-- Aqui va el codigo -->
    {% bootstrap_javascript jquery='full' %}
    <!-- -->
    <script type="text/javascript">
        function eliminar() {
            var x = confirm("Eliminar registrotro?");
            if (x)
                return true;
            else
                return false;
        }
    </script>
    
    </body>
</html>