{% extends "index.html" %}
{% load widget_tweaks %}
{% block title %} Delete | {{ block.super }} {% endblock %}
{% block container %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Delete</h1>
        </div>
        <form action="" method="POST">
            <p>Are you sure to delete: <strong>{{ object }}</strong>?</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="#" onClick="history.go(-1)" class="btn btn-link"> Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
