{% extends "index.html" %}
{% load static %}
{% block title %} Sobre Nosotros {% endblock %}


    {% block sections %}
    <section class="page-section portfolio" id="services">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Sobre Nosotros</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">

                <div class="col-lg-4 ms-auto">
                    <p class="lead" class="justify-content-center">
                    <h3>MISIÓN </h3>
                    Satisfacer de manera eficaz y eficiente las necesidades de cuidado de salud de la comunidad.
                    Brindar a toda la comunidad la mejor atención medica basada en la evidencia científica y contenido
                    ético, acompañando al paciente y su familia.
                    Colaborar con la Educación del paciente, su familia y la sociedad, brindando cuidado y promoción de
                    actitudes saludables.
                    Garantizar la revisión y actualización de los conocimientos, procesos, tecnologías y estructuras,
                    gestionando nuestros recursos con racionalidad económica de forma transparente y honesta.</p>
                </div>
                <div class="col-lg-4 ms-auto">
                    <p class="lead" class="justify-content-center">
                    <h3>VISIÓN </h3>
                    Crear y sostener un sistema integral de salud privada, que ofrezca un espacio de crecimiento y
                    desarrollo profesional enfocado en la excelencia y calidez en la asistencia al paciente y su
                    familia.
                    Ser una Organización Modelo en Gestión y Asistencia en el cuidado de la Salud de Tierra del Fuego
                    </p>
                </div>
                <div class="col-lg-4 ms-auto">
                    <p class="lead" class="justify-content-center">
                    <h3>VALORES </h3>

                    Trabajo en equipo: Trabajar con un objetivo común, respetando y valorando las diferentes opiniones,
                    fortaleciendo las relaciones interpersonales y priorizando el éxito del equipo en beneficio del
                    resultado por sobre el éxito individual.

                    <h4>Equidad</h4> En la utilización de los recursos y servicios de la institución sin distinción de
                    edad,
                    género, grupo social, ideología y credo, estado de salud o enfermedad.
                    <h4> Responsabilidad</h4> Construir las tareas orientadas al logro de los mejores resultados. Asumir
                    un rol
                    activo en la labor diaria tanto en la clínica como dentro de la sociedad.
                    <h4>Ética</h4> Mantener una conducta transparente, honesta y ocupada por el confort de todas las
                    personas
                    con las que interactuamos.
                    <h4>Compromiso</h4> Desarrollar todas las tareas, enfocando el esfuerzo en brindar atención de
                    calidad a
                    nuestros pacientes y su familia.
                    <h4>Eficiencia</h4> Lograr los objetivos utilizando procesos y métodos de trabajo que optimicen el
                    desempeño
                    con la mejor utilización de los recursos.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

</body>

</html>