{% extends "accounts/index.html" %}
{% block title %} My Appointment's {% endblock %}
{% block accounts_container %}
<h2>My Appointment's</h2>
<!--Adding jQuery cdn-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--Adding datatable cdn-->
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<!--Initializing datatable-->
<script>
    $(document).ready(function () {
        $('#tblappointments').DataTable();
    });
</script>

<table id="tblappointments" class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Doctor
            </th>
            <th>
                Day
            </th>
            <th>
                Schedule
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in object_list %}
        <tr>
            <td>
                <a href=""># {{ appointment.pk }}</a>
            </td>
            <td>
                {{ appointment.diary.doctor }}
            </td>
            <td>
                {{ appointment.diary.day|date:"d/m/y" }}
            </td>
            <td>
                {{ appointment.diary.get_schedule_display }}
            </td>
            <td>
                <a href="{% url 'doctors:scheduling_appointment_update' appointment.id %}" class="text-primary" style="padding-left: 10px; text-decoration: none;">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'doctors:scheduling_appointment_delete' appointment.id %}" class="mr-1 text-danger" style="padding-left: 10px; text-decoration: none;">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}