{% extends "accounts/index.html" %}
{% block title %} My Appointment's {% endblock %}
{% block accounts_container %}
<h2>My Appointment's</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Doctor
            </th>
            <th>
                Day
            </th>
            <th>
                Schedule
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in object_list %}
        <tr>
            <td>
                <a href=""># {{ appoinment.pk }}</a>
            </td>
            <td>
                {{ appoinment.diary.doctor }}
            </td>
            <td>
                {{ appointment.diary.day|date:"d/m/y" }}
            </td>
            <td>
                {{ appointment.diary.get_schedule_display }}
            </td>
            <td>
                <a href="{% url 'doctors:scheduling_appointment_update' appointment.id %}" class="text-primary" style="padding-left: 10px; text-decoration: none;">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'doctors:scheduling_appointment_delete' appointment.id %}" class="mr-1 text-danger" style="padding-left: 10px; text-decoration: none;">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}