{% extends "accounts/index.html" %}
{% block title %} Consulting Room's {% endblock %}
{% block accounts_container %}
<h2>Consulting Room's</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        {% for consultinroom in object_list %}
        <tr>
            <td>
                <a href=""># {{ conmsultingroom.pk }}</a>
            </td>
            <td>
                {{ consultinroom.name }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}