{% extends "accounts/index.html" %}
{% block title %} Doctors {% endblock %}
{% block accounts_container %}
<h2>Doctors</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                E-mail
            </th>
            <th>
                Speciality
            </th>
            <th>
                Consulting Room
            </th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in object_list %}
        <tr>
            <td>
                <a href=""># {{ doctor.pk }}</a>
            </td>
            <td>
                {{ doctor.name }}
            </td>
            <td>
                {{ doctor.email }}
            </td>
            <td>
                {{ doctor.speciality }}
            </td>
            <td>
                {{ doctor.consultingroom }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}